<ion-content>
  <div class="flex-center">
    <ion-item>
      <ion-label> Loading... </ion-label>
      <ion-spinner name="crescent" color="success"></ion-spinner>
    </ion-item>
  </div>
  <a routerLink='login'>Click here to go to login</a>
</ion-content>
