<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card></app-pickup-call-card>
  
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="hourglass-outline" slot="start" color="warning"></ion-icon>
        <ion-label>
          On hold
          <p>22/04/2023 16:04:00</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <p>Created at 21/04/2023</p>
          <p>Notes: We have two bags that are full. One with plastic and other with glass</p>
        </ion-label>
      </ion-item>

    </ion-card-content>

    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="archive-outline" slot="start" color="secondary"></ion-icon>
        <ion-label>
          Processing
          <p>22/04/2023 16:04:00</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <p>Created at 21/04/2023</p>
          <p>Notes: We have two bags that are full. One with plastic and other with glass</p>
        </ion-label>
      </ion-item>
    </ion-card-content>

    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="checkmark-circle-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          Finished
          <p>22/04/2023 16:04:00</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="trophy" slot="start" color="success"></ion-icon>
        <ion-label color="success"> $ 15,000</ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>

</ion-content>
