<ion-card>
    <ion-card-header *ngIf="hasHeader">
      <ion-card-subtitle>Last pickup call</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="hourglass-outline" slot="start" color="warning"></ion-icon>
        <ion-label>
          On hold
          <p>22/04/2023 16:04:00</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none" *ngIf="hasFooter">
        <ion-label>
          <p>Created at 21/04/2023</p>
          <p>Notes: We have two bags that are full. One with plastic and other with glass</p>
        </ion-label>
      </ion-item>

      <ion-button color="success" fill="clear" size="full" >See all...</ion-button>

    </ion-card-content>
  </ion-card>