ion-list {
    padding: 0;
    box-shadow: 0 1px 2px 1px rgb(0 0 0 / 20%);
    .money {
        font-weight: bold;
    }
}

ion-card {
    ion-card-subtitle {
        text-transform: uppercase;
        font-weight: bold;
    }
    p {
        white-space: normal;
    }
}