<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="success">
    <ion-item color="success"> 
      <ion-avatar slot="start">
        <img src="#">
      </ion-avatar>
      <ion-label>
        <h1>Paulo Alves</h1>
        <p>Gathered: <span class="money">$ 15,000</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pickup-call-card [hasHeader]="true" [hasFooter]="true"></app-pickup-call-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-button color="success" routerLink="/pickup-call"> Pickup Call Page </ion-button>

</ion-content>
